<mat-toolbar class="example-toolbar">
    <button mat-mini-fab class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-mini-fab class="example-icon login-icon" aria-label="Example icon-button with login icon">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button class="menu-button" aria-label="Alumnos">Alumnos</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="menu-button" aria-label="Profesores">Profesores</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="menu-button" aria-label="Cursos">Cursos</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="menu-button" aria-label="Administracion">Administración</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
<!--Fin de estructura nav-->
    <div class="example-sidenav-content">
<!--Fin de estructura nav-->
        <app-courses></app-courses>
    </div>
<!--Fin de estructura container-->

</mat-drawer-container>
