<div class="students-container">
  <div class="buttonAdd">
        <span>Agregar Estudiante</span>
        <button mat-mini-fab color="primary" (click)="newStudent()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
    <!-- Columnas de la tabla -->


    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element | fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element" class="action-buttons">    

        <div class="button-group">

          <button mat-mini-fab color="primary" (click)="editStudent(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteStudent(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Definición de filas y columnas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
