// Variables de colores
$color-naranja: #FF6F00;
$color-negro: #212121;
$color-gris-oscuro: #424242;
$color-gris-claro: #BDBDBD;
$color-blanco: #FFFFFF;

// table {

//     margin-top: 50px;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     background-color: $color-naranja;
//     color: $color-blanco;
//   }