// Variables de colores
$color-naranja: #FF6F00;
$color-gris: #BDBDBD;
$color-negro: #212121;
$color-gris-oscuro: #424242;
$color-blanco: #FFFFFF;
$color-rojo-claro: #F44A3E;

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  .buttonAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-left: 100px;
    }

    span {
      margin-right: 8px;
      margin-left: 10px;
      flex-grow: 1;
      text-align: right;
    }

    button {
      background-color: $color-naranja;
      color: $color-blanco;
      margin-left: 8px;
      margin-right: 15px;
    }
  }

  table {
    width: 100%;
    max-width: 1200px;
    background-color: $color-blanco;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-collapse: collapse;

    th, td {
      text-align: center;
      font-size: 14px;
      color: $color-negro;
      padding: 8px;
    }

    th {
      font-size: 16px;
    }

    .mat-mini-fab {
      width: 36px;
      height: 36px;
    }

    .action-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .edit-button {
        background-color: $color-gris-oscuro;
        color: $color-blanco;
      }

      .delete-button {
        background-color: $color-rojo-claro;
        color: $color-blanco;
      }

      .mat-mini-fab mat-icon {
        color: inherit;
      }
    }
  }
}
